<template>
  <div class="forum">
    <PagesTab
      v-if="this.hasData"
      :sdata="this.sdata"
      :keys="this.keys"
      :fname="fname"
    />
    <em v-else>Loading Data...</em>
  </div>
</template>

<script>
// @ is an alias to /src
import PagesTab from "@/components/PagesTab.vue";
import firebase from "firebase";

export default {
  name: "forum",
  props: ["fname"],
  components: {
    PagesTab
  },
  data() {
    return {
      sdata: []
    };
  },
  mounted() {
    if (this.fname == undefined || this.fname == "") {
      this.$router.replace("home");
    } else {
      this.$Progress.start();
      firebase
        .database()
        .ref("Scraped/" + this.fname)
        .on("value", snapshot => {
          var tempVals = [];
          this.keys = Object.keys(snapshot.val());
          snapshot.forEach(child => {
            var valitem = child.val();
            tempVals.push(valitem);
          });
          this.sdata = tempVals;
          this.$Progress.finish();
          // console.log(snapshot.val());
          // this.sdata = snapshot.val();
        });
    }
  },
  computed: {
    hasData() {
      return this.sdata.length > 0 ? true : false;
    }
  }
};
</script>
