<template>
  <div class="home">
    <div v-if="hasData">
      <h2 class="mb-3 mt-2 text-muted">Forums Scrapped : {{ keys.length }}</h2>
      <b-card-group class="mx-3" deck>
        <b-card
          v-for="item in keys"
          :key="item"
          bg-variant="info"
          text-variant="white"
          :title="item"
        >
          <div class="card-text">
            <p>{{ Object.keys(forumData[item]).length }} Pages Here!</p>
          </div>
          <b-button
            :to="{ name: 'Forum', params: { fname: item } }"
            variant="light"
            >Access</b-button
          >
        </b-card>
      </b-card-group>
    </div>
    <p v-else>Loading Forum Data...</p>
  </div>
</template>

<script>
// @ is an alias to /src
// import PagesTab from "@/components/PagesTab.vue";

import firebase from "firebase";

export default {
  name: "home",

  data() {
    return {
      keys: [],
      forumData: []
    };
  },
  created() {
    this.$Progress.start();
    firebase
      .database()
      .ref("Scraped/")
      .on("value", snapshot => {
        this.keys = Object.keys(snapshot.val());
        this.forumData = snapshot.val();
        this.$Progress.finish();
      });
  },
  computed: {
    hasData() {
      return this.keys.length > 0 ? true : false;
    }
  }
};
</script>
