<template>
  <div class="matches">
    <h2 class="text-muted display-4">Matches</h2>
    <MatchesTab
      v-if="this.hasData"
      :data="this.matchdata"
      :forums="this.keys"
    />
    <em v-else>Loading Data...</em>
  </div>
</template>

<script>
// @ is an alias to /src
import MatchesTab from "@/components/MatchesTab.vue";
import firebase from "firebase";

export default {
  name: "matches",
  components: {
    MatchesTab
  },
  data() {
    return {
      matchdata: [],
      keys: []
    };
  },
  mounted() {
    this.$Progress.start();
    firebase
      .database()
      .ref("Matches/")
      .on("value", snapshot => {
        var tempVals = [];
        this.keys = Object.keys(snapshot.val());
        snapshot.forEach(child => {
          var valitem = child.val();
          tempVals.push(valitem);
        });
        this.matchdata = tempVals;
        console.log(this.matchdata);
        this.$Progress.finish();
      });
  },
  computed: {
    hasData() {
      return this.matchdata.length > 0 ? true : false;
    }
  }
};
</script>
