<template>
  <div class="matches-tab">
    <b-container fluid>
      <b-card no-body class="m-3" variation="info">
        <b-tabs card>
          <b-tab
            v-for="(entry, index) in this.sanitizedForums"
            :key="index"
            :title="entry"
          >
            <div class="card">
              <div class="card-header">
                <h4 class="text-muted">
                  Total Posts : {{ matchedData[index].total }}
                </h4>
              </div>
              <div class="card-body">
                <div class="card-title">
                  Distinct posts : {{ matchedData[index].distincts.length }}
                </div>
                <div
                  v-for="result in matchedData[index].matchResult"
                  :key="result.title"
                  class="card-text"
                >
                  <div class="card  mb-3 mt-4">
                    <p class="card-header text-muted">{{ result.title }}</p>
                    <b-table
                      outlined
                      responsive
                      head-variant="light"
                      hover
                      borderless
                      :items="result.matches"
                      :fields="fields"
                    ></b-table>
                  </div>
                </div>
              </div>
            </div>
          </b-tab>
        </b-tabs>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "MatchesTab",
  props: {
    data: {},
    forums: {}
  },
  data() {
    return {
      fields: ["title", "page", "rating"]
    };
  },
  computed: {
    matchedData() {
      return this.data ? this.data : [];
    },
    forumData() {
      return this.forums ? this.forums : [];
    },
    sanitizedForums() {
      var sforums = [];
      for (const str of this.forums) {
        sforums.push(this.sanitizeForumName(str));
      }
      return sforums;
    }
  },
  methods: {
    sanitizeForumName(string) {
      return string
        .replace(new RegExp("[-]", "g"), " ")
        .replace(new RegExp("[0-9]", "g"), " ")
        .trim();
    },
    formatRating(data) {
      return data;
    }
  }
};
</script>
