<template>
  <b-navbar toggleable="md" type="dark" variant="info" :sticky="isSticky">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand href="/home">
      <span class="app-name">Central Hub</span>
      <font-awesome-icon icon="th-large" />
    </b-navbar-brand>
    <b-collapse v-if="loggedIn" is-nav id="nav_collapse">
      <b-navbar-nav>
        <b-nav-item href="/home">Dashboard</b-nav-item>
        <b-nav-item href="/matches">Matches</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-form v-if="userName != ''">
          <h6 class="nav-user noselect">Hi, {{ userName }}</h6>
        </b-nav-form>
        <!-- <b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item href="#">EN</b-dropdown-item>
          <b-dropdown-item href="#">ES</b-dropdown-item>
          <b-dropdown-item href="#">RU</b-dropdown-item>
          <b-dropdown-item href="#">FA</b-dropdown-item>
        </b-nav-item-dropdown> -->
        <b-nav-item-dropdown right>
          <template slot="button-content">
            <img
              v-if="userPhotoUrl"
              class="nav-user-avatar"
              :src="userPhotoUrl"
              alt="User Photo"
            />
            <avatar v-else :username="userName"></avatar>
          </template>
          <!-- <b-dropdown-item href="#">Profile</b-dropdown-item> -->
          <b-dropdown-item @click="signOut" href="#">Signout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<style scoped>
.app-name {
  margin: 0.5rem;
}

.nav-user {
  display: block;
  font-size: 1.17em;
  color: honeydew;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: lighter;
}

.nav-user-avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
</style>

<script>
import firebase from "firebase";
import Avatar from "vue-avatar";

export default {
  name: "Navbar",
  components: {
    Avatar
  },
  props: {
    loggedIn: {}
  },
  data() {
    return {
      isSticky: true
    };
  },
  computed: {
    userName: function() {
      if (firebase.auth().currentUser) {
        return firebase.auth().currentUser.displayName
          ? firebase.auth().currentUser.displayName
          : firebase.auth().currentUser.email;
      } else {
        return "";
      }
    },
    userPhotoUrl: function() {
      if (firebase.auth().currentUser) {
        return firebase.auth().currentUser.photoURL
          ? firebase.auth().currentUser.photoURL
          : "";
      } else {
        return "";
      }
    }
  },
  methods: {
    signOut: function() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("login");
        });
    }
  }
};
</script>
