<template>
  <footer class="footer">
    <div class="container">
      <p class="footer-text lead">
        Copyright ©
        <a
          href="https://www.linkedin.com/in/mohaiminul-islam-46270b101/"
          target="_blank"
          >Mohaiminul Islam Bhuiyan</a
        >
      </p>
    </div>
  </footer>
</template>

<script>
export default {
  name: "NavFoot",
  data() {
    return {};
  }
};
</script>

<style scoped>
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #17a2b8;
}

a:hover {
  text-decoration: none;
}
a {
  color: aliceblue;
}
</style>
