<template>
  <div class="pages-tab">
    <b-container fluid>
      <b-card no-body class="m-3" variation="info">
        <div class="card-header">
          <h2 class="display-4 text-muted">{{ fname }}</h2>
        </div>
        <b-tabs v-if="hasTableData" card>
          <b-tab
            v-for="(entry, index) in this.keys"
            :key="index"
            :title="entry"
          >
            <div class="card">
              <div class="card-header">
                <h4 class="text-muted">Page No: {{ entry }}</h4>
              </div>
              <div class="card-body">
                <div class="card-title">
                  Total Entries : {{ tableData[index].length }}
                </div>
                <div class="card-text">
                  <b-table
                    outlined
                    responsive
                    small
                    head-variant="light"
                    hover
                    @row-clicked="clickedRow"
                    :items="tableData[index]"
                  ></b-table>
                </div>
              </div>
            </div>
          </b-tab>
        </b-tabs>
      </b-card>
    </b-container>
  </div>
</template>

<script>
export default {
  name: "PagesTab",
  props: {
    sdata: {},
    keys: {},
    fname: {}
  },
  data() {
    return {
      tableData: []
    };
  },
  computed: {
    hasTableData() {
      return this.tableData.length > 0 ? true : false;
    }
  },
  methods: {
    clickedRow(record) {
      let text = "[" + record.year + "]";
      this.$copyText(text).then(e => {
        console.log(e);
        this.$toasted.show("Copied " + text + " to clipboard!", {
          type: "light"
        });
      });
    }
  },
  mounted() {
    for (const entry of this.sdata) {
      var vals = Object.keys(entry).map(k => entry[k]);
      this.tableData.push(vals);
    }
  }
};
</script>
